body
{   width: 600px;
    margin: 0 auto;
}

/*Styling for #container                                 */
#canvas
{
    border: 2px solid black;                            /*border colour for main container set to black               */
                                                        /*border style for main container set to solid                */
                                                        /*border thickness for main container set to thick            */
    border-radius: 25px;                                /*border radius set to 25 px                                  */
    margin: 0 auto;                                       /*body position set to auto (centered)                        */
}

