html

    {
        background-color: #3c3c3c;
    }

#center

    {
        position: relative;
        width: 800px;
        height: 600px;
        margin: 0 auto;
        border: 2px inset black;
    }