

#statusInventory
{
    width: 165px;
    height: 600px;
    position: absolute;
    /*top: -1px;*/
    left: 805px;
    background-image: url("../../0Main/images/healthInventory.png");
    background-repeat: no-repeat;
}