html
{
    background-color: #151515;
}

#holder
{
    position: relative;
    width: 965px;
    height: 600px;
    margin: 0 auto;
}


#center

{
    position: absolute;
    width: 965px;
    height: 600px;
    margin: 0 auto;
}

#enCanv

{
    position: absolute;
    width: 965px;
    height: 600px;
    margin: 0 auto;
}

#regular
{
    position: absolute;
    left: 0;
    right: 0;
    background: black;
    background-repeat: no-repeat;
    background-position-y: 135px;
}

#HeloCanvas
{
    position: absolute;
    left: 0;
    right: 0;
}
